---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");
/* @import url("https://fonts.googleapis.com/css?family=Sanchez:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700"); */
@import url("https://fonts.googleapis.com/css?family=Quattrocento:300,400,500,700");



// Our variables
// $base-font-family: "Quattrocento";
// $base-font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
//$base-font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
// $head-font-family: "Raleway";
// $head-font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
//$head-font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
$base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$head-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$border-spacing:   1px;

// $text-color:       #111;
$text-color:       #000000;
// $hbg-color:		   #000080;
$hbg-color:		   #000000;
// $brand-color:      #2a7ae2;
$brand-color:      #888888;

$white-color:      #fdfdfd;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

/* $background-color: #fdfdfd; */
$background-color: $white-color;
/* $htext-color:	   $background-color; */
$htext-color:	   $white-color;

// Width of the content area
$content-width:    900px;
$sidebar-width:	   200px;

$on-palm:          600px;
// $on-laptop:        800px;
$on-laptop:        $content-width + 2 * $spacing-unit;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
