<!DOCTYPE html>
<html>
  <title>John Loeser</title>
  <meta property="og:title" content="John Loeser" />
  <meta property="og:locale" content="en_US" />
  <link rel="canonical" href="https://johnloeser.github.io/" />
  <meta property="og:url" content="https://johnloeser.github.io/" />
  <meta property="og:site_name" content="John Loeser" />
  <script type="application/ld+json">
  {"@type":"WebSite","url":"https://johnloeser.github.io/","headline":"John Loeser","name":"John Loeser","@context":"http://schema.org"}</script>
  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
    	{{ content }}
    </div>

    <!--{% include footer.html %}-->

  </body>

</html>
