<!DOCTYPE html>
<html>
  <meta property="og:title" content="john loeser" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:url" content="https://johnloeser.github.io/" />
  <meta property="og:site_name" content="john loeser" />
  <script type="application/ld+json">
  {"@type":"WebSite","url":"https://johnloeser.github.io/","headline":"john loeser","name":"john loeser","@context":"http://schema.org"}</script>


  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
    	{{ content }}
    </div>

    <!--{% include footer.html %}-->

  </body>

</html>
